{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
	.tableCSS {position : absolute; top : 35%; left : 25%; background-color: #e1ccc7;
border-collapse : collapse; text-align : center;}
	td {border : 1px #000000 solid; padding : 10px;}
	.tdTexte {color : #000000;}
	.tdDate {color : #000000;}
	.tdEntier {color : #000000;}

	 #addPatient{
	 background-color : white;
	 text-align : left;
	 position: absolute;
	 top: 40px; left: 40%;
   display: block;
	 visibility:hidden;
	 }

<<<<<<< HEAD
	 .bouton {
	 position: absolute;
	 top: 40px; left: 40px;
		padding:6px 0 6px 0;
		font:bold 13px Arial;
		background:#f5f5f5;
		color:#555;
		border-radius:2px;
		width:100px;
		border:1px solid #ccc;
		box-shadow:1px 1px 3px #999;
	}
=======
   .addMatelas{
   position : absolute;
   top : 1%;
   left : 50%;
   background-color : pink;
   padding : 1%;
   width : 20%;
   text-align : left;
   }
>>>>>>> 5b90795bc224002c20241558109ceec02f1de693
</style>

<div>
	<table class = "tableCSS">
		<tr>
			<td class = "tdEntier">NIP</td>
			<td class = "tdDate">Premier scanner</td>
			<td class = "tdDate">MEP</td>
			<td class = "tdEntier">Nbr séance</td>
			<td class = "tdDate">FTR</td>
			<td class = "tdTexte">Commentaire</td>
			<td class = "tdEntier">N° matelas</td>
			<td class = "tdEntier">Type matelas</td>
		</tr>
		{% for c in customers %}
		<tr>
			<td class = "tdEntier">{{ c.getNip() }}</td>
			<td class = "tdDate">{{ c.getDateFirstScanner() }}</td>
			<td class = "tdDate">{{ c.getMep() }}</td>
			<td class = "tdEntier">{{ c.getNumberSeance() }}</td>
			<td class = "tdDate">{{ c.getFtr() }}</td>
			<td class = "tdTexte">{{ c.getComment() }}</td>
			<td class = "tdEntier">{{ c.getMattress() }}</td>
			<td class = "tdEntier">{{ c.getType() }}</td>
		</tr>
		{% endfor %}
	</table>

  <div id = "addPatient">
		{{ form_start(formulaireAddPatient) }}
		{{ form_widget(formulaireAddPatient) }}
		{{ form_end(formulaireAddPatient) }}
	</div>

	<div class = "addMatelas">
	{{ form_start(formulaireAddMatelas) }}
							{{ form_widget(formulaireAddMatelas) }}
	{{ form_end(formulaireAddMatelas) }}
	</div>
</div>

<button class="bouton" onclick="myFunction()">
	Ajout d'un patient
</button>

<script>
function myFunction() {
	var elem = 	document.getElementById("addPatient");
	if(elem.style.visibility == "visible"){
		elem.style["visibility"] = "hidden";
	}else{
		elem.style["visibility"] = "visible";
	}
}
</script>



{% endblock %}
