{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
	.tableCSS {position : absolute; top : 35%; left : 25%; background-color: #e1ccc7;
border-collapse : collapse; text-align : center;}
	td {border : 1px #000000 solid; padding : 10px;}
	.tdTexte {color : #000000;}
	.tdDate {color : #000000;}
	.tdEntier {color : #000000;}

	 .lineForm{
	 clear: both;
	 padding-top : 5%;
	 }

	 .label{
	 display : inline;
	 text-align : center;
	 float : left;
	 padding-top : 2%;
	 }

	 .widget{
	 display : inline;
	 float : right;
	 }

	 .submitButton{
	 margin-left:35%;
	 }

	 #addPatient{
	 padding:1%;
	 background-color : white;
	 position: absolute;
	 top: 10%; left: 40%;
	 width:20%;
	 height:50%;
	 visibility:hidden;
	 }

	 #addMatelas{
	 padding:1%;
	 background-color : white;
	 position: absolute;
	 top: 10%; left: 40%;
	 width:20%;
	 height:30%;
	 visibility:hidden;
	 }

	 #addMatelasType{
	 padding:1%;
	 background-color : white;
	 position: absolute;
	 top: 10%; left: 40%;
	 width:15%;
	 height:11%;
	 visibility:hidden;
	 }

	 .disconnectButton{
		 position: absolute;
    	top: -80px;
    	right: 65px;
			width: 8%;
			height: 5%;
	 }

	 .boutonAddPatient{
	 position: absolute;
	 top: 40px; left: 40px;
		padding:6px 0 6px 0;
		font:bold 13px Arial;
		background:#f5f5f5;
		color:#555;
		border-radius:2px;
		width:100px;
		border:1px solid #ccc;
		box-shadow:1px 1px 3px #999;
	}

	.boutonAddMatelas{
	position: absolute;
	top: 100px; left: 40px;
	padding:6px 0 6px 0;
	font:bold 13px Arial;
	background:#f5f5f5;
	color:#555;
	border-radius:2px;
	width:100px;
	border:1px solid #ccc;
	box-shadow:1px 1px 3px #999;
	}

	.boutonAddMatelasType{
	position: absolute;
	top: 160px; left: 40px;
	padding:6px 0 6px 0;
	font:bold 13px Arial;
	background:#f5f5f5;
	color:#555;
	border-radius:2px;
	width:100px;
	border:1px solid #ccc;
	box-shadow:1px 1px 3px #999;
	}

	 .UserList{
		 margin-left : 15px;
		 font-family : "Arial";
		 font-size: 17px;
	 }
</style>
<div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<table class = "tableCSS">
		<tr>
			<td class = "tdEntier">NIP</td>
			<td class = "tdDate">Premier scanner</td>
			<td class = "tdDate">MEP</td>
			<td class = "tdEntier">Nbr séance</td>
			<td class = "tdDate">FTR</td>
			<td class = "tdTexte">Commentaire</td>
			<td class = "tdEntier">N° matelas</td>
			<td class = "tdEntier">Type matelas</td>
		</tr>
		{% for c in customers %}
		<tr>
			<td class = "tdEntier">{{ c.getNip() }}</td>
			<td class = "tdDate">{{ c.getDateFirstScanner().format('Y-m-d') }}</td>
			<td class = "tdDate">{{ c.getMep().format('Y-m-d') }}</td>
			<td class = "tdEntier">{{ c.getNumberSeance() }}</td>
			<td class = "tdDate">{{ c.getFtr().format('Y-m-d') }}</td>
			<td class = "tdTexte">{{ c.getComment() }}</td>
			<td class = "tdEntier">{{ c.getMattress() }}</td>
			<td class = "tdEntier">{{ c.getType() }}</td>
		</tr>
		{% endfor %}
	</table>

<script>
var doStuff = function () {
	var u =$("#username").text();
	var d = new Date($("#lmodified").text());
	var startTime = new Date();
	var diff=startTime.getTime()-d.getTime();
	if(diff/1000>60*30){
			$(".disconnectButton").click();
	}

};
setInterval(doStuff, 1000);
</script>

{% for c in user %}

<div id="username" style="display:none">{{ c.getUsername() }}</div>
<div id="lmodified" style="display:none">{{c.getDate() }}</div>
{% endfor %}

  <div id = "addPatient">
		{{ form_start(formulaireAddPatient) }}

		<div class="lineForm"><div class="label">{{ form_label(formulaireAddPatient.nip) }} :</div>
		<div class="widget">{{ form_widget(formulaireAddPatient.nip) }}</div></div>
		</br>
		<div class="lineForm"><div class="label">{{ form_label(formulaireAddPatient.date_first_scanner) }} :</div>
		<div class="widget">{{ form_widget(formulaireAddPatient.date_first_scanner) }}</div></div>
		</br>
		<div class="lineForm"><div class="label">{{ form_label(formulaireAddPatient.mep) }} :</div>
		<div class="widget">{{ form_widget(formulaireAddPatient.mep) }}</div></div>
		</br>
		<div class="lineForm"><div class="label">{{ form_label(formulaireAddPatient.number_seance) }} :</div>
		<div class="widget">{{ form_widget(formulaireAddPatient.number_seance) }}</div></div>
		</br>
		<div class="lineForm"><div class="label">{{ form_label(formulaireAddPatient.ftr) }} :</div>
		<div class="widget">{{ form_widget(formulaireAddPatient.ftr) }}</div></div>
		</br>
		<div class="lineForm"><div class="label">{{ form_label(formulaireAddPatient.comment) }} :</div>
		<div class="widget">{{ form_widget(formulaireAddPatient.comment) }}</div></div>
		</br>
		<div class="lineForm"><div class="label">{{ form_label(formulaireAddPatient.mattress) }} :</div>
		<div class="widget">{{ form_widget(formulaireAddPatient.mattress) }}</div></div>
		</br>
		<div class="lineForm"><div class="label">{{ form_label(formulaireAddPatient.type) }} :</div>
		<div class="widget">{{ form_widget(formulaireAddPatient.type) }}</div></div>
		</br>
		<div class="lineForm"><div class="submitButton">{{ form_widget(formulaireAddPatient.submit) }}</div></div>
		</br>

		{{ form_end(formulaireAddPatient) }}
	</div>

	<form action =" {{path('home_page')}}" method ="post">
		<button class="disconnectButton" type="submit" name="disconnect">Déconnexion</button>
	</form>


	<div id = "addMatelas">
		{{ form_start(formulaireAddMatelas) }}

		<div class="lineForm"><div class="label">{{ form_label(formulaireAddMatelas.type) }} :</div>
		<div class="widget">{{ form_widget(formulaireAddMatelas.type) }}</div></div>
		</br>
		<div class="lineForm"><div class="label">{{ form_label(formulaireAddMatelas.status) }} :</div>
		<div class="widget">{{ form_widget(formulaireAddMatelas.status) }}</div></div>
		</br>
		<div class="lineForm"><div class="label">{{ form_label(formulaireAddMatelas.state) }} :</div>
		<div class="widget">{{ form_widget(formulaireAddMatelas.state) }}</div></div>
		</br>
		<div class="lineForm"><div class="label">{{ form_label(formulaireAddMatelas.commissioning) }} :</div>
		<div class="widget">{{ form_widget(formulaireAddMatelas.commissioning) }}</div></div>
		</br>
		<div class="lineForm"><div class="submitButton">{{ form_widget(formulaireAddMatelas.submit) }}</div></div>
		</br>

		{{ form_end(formulaireAddMatelas) }}
	</div>

	<div id = "addMatelasType">
			{{ form_start(formulaireAddMatelasType) }}
			<div class="lineForm"><div class="label">{{ form_label(formulaireAddMatelasType.type) }} :</div>
			<div class="widget">{{ form_widget(formulaireAddMatelasType.type) }}</div></div>
			</br>
			<div class="lineForm"><div class="submitButton">{{ form_widget(formulaireAddMatelasType.submit) }}</div></div>
		</div>

	<div class = "UserList">
	<b>Liste des utilisateurs connectés : {% for u in users %} {{ u.getUsername() }} <i>;</i> {% endfor %} </b>
	{{ form_start(formulaireAddMatelas) }}
	{{ form_widget(formulaireAddMatelas) }}
	{{ form_end(formulaireAddMatelas) }}
	</div>

</div>

<button class="boutonAddPatient" onclick="hideAddPatient()">
	Ajout d'un patient
</button>

<button class="boutonAddMatelas" onclick="hideAddMatelas()">
	Ajout d'un matelas
</button>

<button class="boutonAddMatelasType" onclick="hideAddMatelasType()">
	Ajout d'un type de matelas
</button>

<script>
function hideAddPatient() {
	var patient = document.getElementById("addPatient");
	var matelas = document.getElementById("addMatelas");
	var type = document.getElementById("addMatelasType");
	if(patient.style.visibility == "visible"){
		patient.style["visibility"] = "hidden";
	}else{
		patient.style["visibility"] = "visible";
		matelas.style["visibility"] = "hidden";
		type.style["visibility"] = "hidden";
	}
}

function hideAddMatelas() {
	var matelas = 	document.getElementById("addMatelas");
	var patient = document.getElementById("addPatient");
		var type = document.getElementById("addMatelasType");
	if(matelas.style.visibility == "visible"){
		matelas.style["visibility"] = "hidden";
	}else{
		matelas.style["visibility"] = "visible";
		patient.style["visibility"] = "hidden";
		type.style["visibility"] = "hidden";
	}
}

function hideAddMatelasType() {
	var type = 	document.getElementById("addMatelasType");
	var matelas = 	document.getElementById("addMatelas");
	var patient = document.getElementById("addPatient");
	if(type.style.visibility == "visible"){
		type.style["visibility"] = "hidden";
	}else{
		type.style["visibility"] = "visible";
		matelas.style["visibility"] = "hidden";
		patient.style["visibility"] = "hidden";
	}
}
</script>

{% endblock %}
